debug=false
oauth.consumerKey=aaaaaaaaaaaaaaaaaa
oauth.consumerSecret=bbbbbbbbbbbbbbbbbbbb
oauth.accessToken=ccccccccccccccccccccccccccccccccccccccc
oauth.accessTokenSecret=dddddddddddddddddddddddddddddd
http.proxyHost=your.proxy.com
http.proxyPort=8080
